# Mac
.DS_Store

# Virtual environments
venv/
.venv/

# Data (never upload raw or processed datasets)
data/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/

# Outputs (ignore all)
outputs/

# BUT keep the map needed by Streamlit
!outputs/task_2_5_kepler_map.html
